.section {
  padding: 20px 0;

  @media (min-width: 768px) {
    padding: 40px 0;
  }

  @media (min-width: 1440px) {
    padding: 60px 0;
  }
}

.searchBar {
  background-color: #292929;
  position: fixed;
  z-index: 2;

  width: 100%;
}

.gallery {
  margin-top: 86px;

  @media (min-width: 768px) {
    margin-top: 126px;
  }

  @media (min-width: 1440px) {
    margin-top: 166px;
  }
}
