.card {
  position: relative;
  background-color: #222;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 12px 12px 10px;
  font-size: 14px;
  color: #ccc;
  background-color: #333;
}

.caption {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #fff;
}
